node_modules
dist
coverage
.git
.github
.vscode
.idea
.env
.env.*
!.env.example
*.log
npm-debug.log*
bruno
docs
test
**/*spec.ts
gcp-service-account.json
*.md
!package.json
Dockerfile
docker-compose.yml
.dockerignore
